$primary: #074f57;
$secondary: #74a57f;
$tertiary: #e4c5af;
$primary-alt: #077187;
$secondary-alt: #9ece9a;
$white: #fefdfd;

.button {
  background: $tertiary;
  color: black;
  font-weight: bold;
  padding: 10px;
  font-size: 18px;
  border: 2px solid black;
  border-radius: 8px;
  transition: background 0.25s;
}

.button.disabled {
  background: lighten($tertiary, 10%);
  pointer-events: none;
}

.button.loading {
  animation-name: button-loading;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

.button.preferred.loading {
  animation-name: button-loading-preferred;
}

.button.preferred.disabled {
  background: lighten($secondary, 10%);
}

.button.preferred {
  background: $secondary-alt;
}

.button:not(.disabled):hover {
  background: darken($tertiary, 10%);
}
.button.preferred:not(.disabled):hover {
  background: darken($secondary, 10%);
}

.controlPanel {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr;
  align-content: start;
}

.match-list {
  display: grid;
  grid-template-columns: repeat(6, 80px);
  grid-auto-rows: 80px;
  width: 100%;
  gap: 20px;
  justify-content: start;
  overflow-y: scroll;
  overflow-x: hidden;
}

.match {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 8px;
  border: 2px solid black;
  align-items: center;
  justify-items: center;
  font-weight: bold;
  font-size: 20px;
  background: $white;
  transition: background 0.1s ease-in-out;
}
.match *:nth-child(1) {
  grid-column: span 2;
}
.match *:nth-child(2) {
  color: royalblue;
}
.match *:nth-child(3) {
  color: firebrick;
}
.match:hover {
  background: darken($white, 10%);
}
.match.currentMatch {
  background: $primary;
}
.match.currentMatch:hover {
  background: darken($primary, 10%);
}
.match.nextMatch {
  background: $secondary;
}
.match.nextMatch:hover {
  background: darken($secondary, 10%);
}

@keyframes button-loading {
  0% {
    background: #ffff00;
  }
  100% {
    background: #ffffff;
  }
}

@keyframes button-loading-preferred {
  0% {
    background: #00ff00;
  }
  100% {
    background: #ffffff;
  }
}
